.test {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 700px;
  margin: 70px 0;
  background: url("../img/test.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.test_content {
  text-align: center;
  color: #fff;
}

.test_content h2 {
  width: 600px;
  font-size: 42px;
  padding: 50px 0 50px;
}

.test_text p::after {
  display: block;
  content: "";
  width: 100px;
  margin: 20px auto 0;
  height: 1px;
  background-color: #fff;
}

#questblock {
  width: 650px;
  margin: 0 auto;
}

#quest {
  display: block;
  font-size: 28px;
  line-height: 30px;
  padding-bottom: 70px;
}

.answers {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 40px;
  padding: 0;
}

.answer {
  width: 325px;
  margin: 20px auto;
  text-align: left;
  font-size: 21px;
}

.answer label {
  cursor: pointer;
  position: relative;
}

.answer input {
  opacity: 0;
}

.answer label::before {
  position: absolute;
  top: 0;
  left: -23px;
  content: "\f10c";
  width: 21px;
  height: 21px;
  font-size: 21px;
  color: #fff;
  font-family: FontAwesome;
}

.answer input[type="radio"]:checked + label::before {
  content: "\f05d";
  font-size: 21px;
}

#run,
#next {
  width: 190px;
  height: 55px;
  padding: 10px 15px;
  font-size: 18px;
  color: #fff;
  border: 1px solid #fff;
  background-color: #181818;
  cursor: pointer;
}

#run:hover {
  background-color: rgba(0, 0, 0, .2);
}

.result {
  display: block;
  margin-bottom: 50px;
  font-size: 24px;
}

.result_count {
  position: relative;
  padding: 70px 0 5px;
  display: block;
  font-size: 36px;
  font-weight: bold;
}

.result_count::before {
  display: block;
  position: absolute;
  top: 35px;
  left: 50%;
  margin-left: -125px;
  content: "";
  width: 250px;
  height: 1px;
  background-color: #fff;
}
