@import url('https://fonts.googleapis.com/css?family=Merriweather|Raleway:800');

* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  font-family: 'Merriweather', serif;
  margin: 0;
  word-wrap: break-word;
}
p, span {
  margin: 0;
}

header {
  width: 100%;
  min-height: 4rem;
  background: #000000;
  margin: 0 0 1rem;
  color: #FFF;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 4rem;
}

nav ul li {
  margin-right: 3rem;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

.item {
  position: relative;
  padding: 2rem;
  margin: 0.5rem;
  border-radius: 0.3rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.item:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.item-1 {
  grid-area: card-1;
  color: #FFFFFF;
  background-image: url("https://rostislove.github.io/img/concert.jpg");
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  background-color: rgba(0,225,0,0.3);
}

.item-2 {
  grid-area: card-2;
  background-color: rgba(225,0,0,0.5);
}

.item-3 {
  grid-area: card-3;
  background-color: rgba(0,0,0,0.5);
}

.item-4 {
  grid-area:card-4;
  background-color: rgba(0,0,225,0.5);
}
.grid-1 {
  grid-template-areas:
    "card-1 card-1 card-2 card-2"
    "card-1 card-1 card-3 card-4";
}
.grid-2 {
  grid-template-areas:
    "card-2 card-2 card-1 card-1"
    "card-3 card-4 card-1 card-1";
}
.container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows:  minmax(100px, auto) minmax(100px, auto);

}

.punchline {
  margin: 0;
  font-size: 2em;
  font-family: 'Raleway', serif;
}

.item-footer {
  display: flex;
  margin: 5rem 0 0;
  justify-content: space-between;
}

.author {
  font-size: 0.8em;
}
.social_btn {
  margin: 0;
  font-size: 0.8em;
}
.social_btn span {
}



/* iPads (landscape) ----------- */
@media only screen and (max-width : 768px) {
  header {
    z-index: 1;
    min-height: 3rem;
    position: fixed;
  }
  .wrapper {
    padding: 3rem 0;
  }
  nav ul {
    min-height: 3rem;
    font-size: 0.7rem;
  }
  .item {
    padding: 1.5rem;
    margin: 0.5rem 0.7rem;
  }
  .punchline {
    font-size: 1.6em;
  }
  .grid-1 {
    grid-template-areas:
      "card-1"
      "card-2"
      "card-3"
      "card-4";
  }
  .grid-2 {
    grid-template-areas:
      "card-2"
      "card-3"
      "card-4"
      "card-1";
  }
  .container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows:  minmax(100px, auto) minmax(100px, auto);
  }
}
